@font-face {
    font-family: "fuente";
    src: url("../fonts/titles.ttf");
}

@font-face {
    font-family: "fuente2";
    src: url("../fonts/fuente.ttf");
}
/*HEADER
--------------------------------------------------------------------------*/
.title{
    font-family: "fuente", 'Courier New', cursive;
    color: #c41584;
}

/*BODY
--------------------------------------------------------------------------*/

.font2{
    font-family: "fuente2", 'Courier New', serif;
    color: black;
    border-color: #e774bd;
}

body{
    background-color: rgb(240, 244, 198);
}